<h1 align="center"> Login</h1>
<div class="col-xs-6 col-xs-offset-3">
  <%= form_for(:session, :html => {class:"form-horizontal", role:"form"}, url: login_path) do |f| %> <!--# formulario para preenchimento e criação da Article -->
  <div class= "form-group">
    <div class="control-label col-sm-2">
      <%= f.label :email %>
    </div>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control", placeholder: "Enter Email", autofocus: true %>
    </div>
  </div>
  <div class= "form-group">
    <div class="control-label col-sm-2">
      <%= f.label :password %>
    </div>
    <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>
  </div>
    <div align="center" class="form-group">
      <div class="btns-align">
        <%= f.submit "Login", class: "btn btn-primary btn-md"%>
      </div>
      <div class="btns-align">
        <%= link_to "Cancel",:back, class: "btn btn-default btn-ms"%>
      </div>
    </div>
  <%end%>
</div>
