<% list.each do |article| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="well well-lg">
        <div class="article-title">
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="article-body">
          <%= truncate(article.descriptions,length:100) %>
          <div class="article-meta-details">
            <small>
              Created by: <%= article.user.username if article.user %>
              <%= time_ago_in_words(article.created_at) %> ago,
              last updated: <%= time_ago_in_words(article.updated_at) %> ago
            </small>
          </div>
        </div>
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
          <div class="article-actions">
            <%= link_to edit_article_path(article), :class => 'btn btn-success btn-xs' do %>
              Edit
            <% end %>
            <%= link_to article_path(article), :class => 'btn btn-primary btn-xs' do %>
              Show
            <% end %>
            <%= link_to article_path(article),method: :delete, :class => 'btn btn-danger btn-xs', data:{confirm: "Are you sure you want to delete Article '#{article.title}'?"} do %>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
