<h1 align="center"> Users <h1>
<div align="center">
  <%= will_paginate %>
</div>
<% @users.each do |user| %>
  <ul class="listing">
    <div class="row">
      <div class="well col-xs-6 col-xs-offset-3 center">
        <div class="col-xs-1">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
        </div>
        <div class="col-xs-offset-2">
          <li class="card"><%= link_to user.username, user_path(user), class: "font-not-underline" %></li>
          <% if user.articles.present? %>
            <li class="user-activity"><small><%= pluralize(user.articles.count, "article")+", last seen "+time_ago_in_words(user.articles.last.created_at)+" ago."%></small></li>
          <% end %>
        </div>
      </div>
    </div>
  </ul>
<% end %>
<div align="center">
  <%= will_paginate %>
</div>
